@{
    ViewData["Title"] = "Top 100";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function doSearch(year, number, title, artist, own) {
        $.ajax({
            type: "GET",
            url: "API/v1/Top100/Songs?Year=" + year + "&Number=" + number + "&Title=" + title + "&Artist=" + artist + "&Own=" + own,
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (data) {
                $("#DIV").html('');
                var DIV = '';
                 $('#Table').find("tr:gt(0)").remove();
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        //"<td id='Year'>" + item.year + "</a>" + "</td>" +
                        "<td id='Year'>" + "<a href=\"" + encodeURI("http://phobos.apple.com/WebObjects/MZSearch.woa/wa/advancedSearchResults?songTerm=" + item.title + "&artistTerm=" + item.artist) + "\">" + item.year + "</a>" + "</td>" +
                        "<td id='Number'>" + item.number + "</td>" +
                        "<td id='Title'>" + item.title + "</td>" +
                        "<td id='Artist'>" + item.artist + "</td>" +
                        "<td id='Own'>" + item.own + "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function

            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
    }

</script>

<div class="panel panel-primary">
    <div class="panel-heading">
        Search
    </div>
    <div class="panel-body">
        <form id="searchForm" action="/" method="GET">
            <table class="table table-bordered" id="InputTable">
                <tr>
                    <th>Year</th>
                    <th>Number</th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Own</th>
                </tr>
                <tr>
                    <td><input type="text" name="year" id="yearId"/></td>
                    <td><input type="text" name="number" id="numberId"/></td>
                    <td><input type="text" name="title" id="titleId"/></td>
                    <td><input type="text" name="artist" id="artistId"/></td>
                    <td><input type="checkbox" name="own" id="ownId"/></td>
                </tr>
            </table>
            <input type="submit" name="Submit"/>
        </form>
    </div>    
</div>
<script>
    $("#searchForm").submit(function (event) {
        var year = $("#yearId").val();
        var number = $("#numberId").val();
        var title = $("#titleId").val();
        var artist = $("#artistId").val();
        var own = "false";
        if ($("#ownId").is(":checked"))
        {
            own = "true";
        }
        else
        {
            own = "false";
        }
        doSearch(year, number, title, artist, own);
        event.preventDefault();
    });
</script>
<div class="panel panel-primary">
    <div class="panel-heading">
        Top 100 Songs
    </div>
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>Year</th>
                <th>Number</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Own</th>
            </tr>
        </table>
    </div>
</div>